
<!DOCTYPE html>
<html lang="en">

<!-- /404.html  29 Aug 2022 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page 404 -wrong Address</title>
    <meta name="keywords" content="Application Store, download, installed">
    <meta name="description" content="Lofin - Web App Store">
    <meta name="author" content="p-themes">
    <meta name="apple-mobile-web-app-title" content="Lofin">
    <meta name="application-name" content="Lofin">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
<!-- Favicon -->
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">

    
    <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
    <!-- Favicon -->
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

  <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchbootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdowncss.css' %}">
    

   


</head>
<body>
               
<!-- ----------------------------------------------- Header Era -------------------------------- -->
<h1>Not Found 404</h1>
<h3 style="margin-left: 10rem;">Your address not found.</h3>
<h2 style="margin-left: 10rem;"> 
    <span>Click: <a href="http://127.0.0.1:8000/">https://172.0.0.1:8000/login</a></h2></span>
<!-- ----------------------------------------------- Main Js File Era-------------------------------- -->
{% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    
    <!-- Main JS File -->
    

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/Navpopper.js' %}"></script>
    <script src="{% static 'js/Navbootstrap.min.js' %}"></script>
    <script src="{% static 'js/Navmain.js' %}"></script>
    <script src="{% static 'js/dropdown.min.js' %}"></script>
 


    <script src="{% static 'product/js/script.js' %}"></script>
<!-- /404.html  22 Aug 2022 10:04:03 GMT -->

</body>
</html>