
<!DOCTYPE html>
<html lang="en">

<!-- /home.html  29 Aug 2022 10:04:03 GMT -->
<head>
 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <title>Lofin App Store -social</title>
    <meta name="keywords" content="Application Store, download, installed">
    <meta name="description" content="Lofin - Web App Store">
    <meta name="author" content="p-themes">
    <meta name="apple-mobile-web-app-title" content="Lofin">
    <meta name="application-name" content="Lofin">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
      <!-- Favicon -->
      {% load static %}
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'images/icons/site.html' %}">
      <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#666666">
      <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">

      <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
  
   


</head>
<!-- <h2 class="title mb-4">  </h2>  -->

<body>
    {% csrf_token %}
    {% if user.is_authenticated %}
    
<!-- ----------------------------------------------- Header Era -------------------------------- -->
{% include "layout-main/header.html" %} 
<!-- ----------------------------------------------- Home Era -------------------------------- -->




  


  <!-- categories section starts  -->

  <section class="categories" id="categories">

    <h1 class="heading"><span>Social store</span> </h1>

    <div class="box-container">
        {% for app in myAppStore_Social %}
       {% if app.db_id_App <= 100 %} 
 
       <div class="box">
            
        <figure class="product-media text-left">
            
                
                <div class="product product-7 text-left">
                       <button type="submit"  class="btnType"   value="{{app.db_link_type}}" name="link_type"   alt="Use for Only" title="Use for Only" ><span>{{app.db_link_type}}</span></button>
                        </i>

                   
                    
                    <div class="product-action-vertical"  style="position: absolute; top: .1rem; left: 18rem;" >
                        
                        <form class=""  action="{% url 'wishlist' %}" method="POST" >
                            {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{app.db_id_App}}">
                                <input type="hidden" name="post_AppName" value="{{app.db_AppName}}">
                                <input type="hidden" name="post_type" value="{{app.db_type}}">
                                <input type="hidden" name="post_Category" value="{{app.db_Category}}">
                                {% for post in myProfile %}
                                {% if forloop.first %}
                                <input type="hidden" name="post_username" value="{{post.db_username}}">
                                {% endif %}
                                {% endfor %}
                                {% if user not in app.db_wishlist.all %}
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Wishlist" title="Wishlist" class="btn-product-icon btn-wishlist btn-expandable"><span>add to Wishlist</span></button>
                                    {% else %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unwishlist" title="Unwishlist"  class="btn-product-icon btn-wishlist btn-expandable"><span>cut Wishlist</span></button>
                                
                                    {% endif %}
                            
                            </form>
                        </i>

                    </div> 
                    <img src="{{BASE_DIR}}/media/{{app.db_photoApp}}" style=" display: true; width: 200px; height: 100px" alt=" Apps Image">
                
                
                    
                    <h3><b>{{app.db_AppName}} </b><span style="font-size: 1.2rem;">( {{app.db_type}} )</span></h3>
                  
    
                   
                        <div class="header-search">
                        <form class=""  action="{% url 'like' %}" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{app.db_id_App}}">
                                <input type="hidden" name="post_AppName" value="{{app.db_AppName}}">
                                {% for post in myProfile %}
                                {% if forloop.first %}
                                <input type="hidden" name="post_username" value="{{post.db_username}}">
                                {% endif %}
                                {% endfor %}
                                
                                {% if user not in app.db_like.all %}
        
                                    {% if app.db_like.all.count >= 0 and app.db_like.all.count <= 999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="btn-expandable">{{app.db_like.all.count|get_digit:""}} </span></button>
                                    
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000 and app.db_like.all.count <= 9999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}}{{app.db_like.all.count|get_digit:"2"}} K</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000 and app.db_like.all.count <= 99999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}} K</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 100000 and app.db_like.all.count <= 999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}} K</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000000 and app.db_like.all.count <= 9999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}} M</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000000 and app.db_like.all.count <= 99999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}} M</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 100000000 and app.db_like.all.count <= 999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}} M</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000000000 and app.db_like.all.count <= 9999999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}} B</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000000000 and app.db_like.all.count <= 99999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}} B</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 100000000000 and app.db_like.all.count <= 999999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}} B</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000000000000 and app.db_like.all.count <= 9999999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}} T</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000000000000 and app.db_like.all.count <= 99999999999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"14"}}{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}} T</span></button>
                                
                                    {% endif %}
                                   
                                    



                                {% else %}
                                    
                                    {% if app.db_like.all.count >= 0 and app.db_like.all.count <= 999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Unlike" title="Unlike" class="btnLike icon-heart"><span class="btn-expandable">{{app.db_like.all.count|get_digit:""}} </span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000 and app.db_like.all.count <= 9999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"  alt="Unlike" title="Unlike" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}}{{app.db_like.all.count|get_digit:"2"}} K</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000 and app.db_like.all.count <= 99999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"      alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}} K</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 100000 and app.db_like.all.count <= 999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"      alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}} K</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000000 and app.db_like.all.count <= 9999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}} M</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000000 and app.db_like.all.count <= 99999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"      alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}} M</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 100000000 and app.db_like.all.count <= 999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}} M</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000000000 and app.db_like.all.count <= 9999999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"   alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}} B</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000000000 and app.db_like.all.count <= 99999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"    alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}} B</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 100000000000 and app.db_like.all.count <= 999999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"    alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}} B</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 1000000000000 and app.db_like.all.count <= 9999999999999 %}
                                    
                                    <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}} T</span></button>
                                
                                    {% endif %}

                                    {% if app.db_like.all.count >= 10000000000000 and app.db_like.all.count <= 99999999999999 %}
                                    
                                    <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"14"}}{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}} T</span></button>
                                
                                    {% endif %}
                                
                                {% endif %}
                            
                            </form>
                           
                        </div>
                        <span><h7 style="position: absolute; top: 70%; left: 50%;">Size : {{ app.db_link.size|filesizeformat }}</h7></span>
                   
                    {% if  app.db_price == 0   %}
                    <h1><a href="{{BASE_DIR}}/fullView/{{app.db_id_App}}" class=""><b  style="font: .6em sans-serif;" class="btn">Install <label>( Free ) </label>  </b></a></h1>
                    {% endif %}
                    {% if  app.db_price >= 1 %}
                    <h1><a href="{{BASE_DIR}}/fullView/{{app.db_id_App}}" class=""><b  style="border-color: rgb(0, 173, 23); font: .6em sans-serif;" class="btn">Install <label>($ {{app.db_price}}) </label>  </b></a></h1>
                    
                    {% endif %}
                </div>
            
        </figure>
    
    </div>
        {% endif %}
{% endfor %}
    </div>

</section>

<!-- categories section ends -->
    
 


  <!-- categories section starts  -->

  <section class="categories" id="categories">

    <h1 class="heading"><span>Social Chat</span> </h1>

    <div class="box-container">
        {% for app in myAppStore_Chat %}
       {% if app.db_id_App <= 20 %} 
        <div class="box">
            <figure class="product-media">
                
                    
                    <div class="product product-7 text-center">
                    
                        
                        <div class="product-action-vertical"  style="position: absolute; top: .1rem; left: 18rem;" >
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div> 
                        <img src="{{BASE_DIR}}/media/{{app.db_photoApp}}" style="display: true; width: 250px; height: 200px" alt=" Apps Image">
                    
                    
                        
                        <h3><b>{{app.db_AppName}}</b></h3>
        
                        <div class="stars">
                            <div class="header-search">
                                
                            <form class=""  action="{% url 'like' %}" method="POST">
                                {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{app.db_id_App}}">
                                    <input type="hidden" name="post_AppName" value="{{app.db_AppName}}">
                                    {% for post in myProfile %}
                                    {% if forloop.first %}
                                    <input type="hidden" name="post_username" value="{{post.db_username}}">
                                    {% endif %}
                                    {% endfor %}
                                    {% if user not in app.db_like.all %}
            
                                        {% if app.db_like.all.count >= 0 and app.db_like.all.count <= 999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="btn-expandable">{{app.db_like.all.count|get_digit:""}} </span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000 and app.db_like.all.count <= 9999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}}{{app.db_like.all.count|get_digit:"2"}} K</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000 and app.db_like.all.count <= 99999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}} K</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 100000 and app.db_like.all.count <= 999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}} K</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000000 and app.db_like.all.count <= 9999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}} M</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000000 and app.db_like.all.count <= 99999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}} M</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 100000000 and app.db_like.all.count <= 999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}} M</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000000000 and app.db_like.all.count <= 9999999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}} B</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000000000 and app.db_like.all.count <= 99999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}} B</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 100000000000 and app.db_like.all.count <= 999999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}} B</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000000000000 and app.db_like.all.count <= 9999999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}} T</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000000000000 and app.db_like.all.count <= 99999999999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Like" title="Like" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"14"}}{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}} T</span></button>
                                    
                                        {% endif %}
                                       
                                        



                                    {% else %}
                                        
                                        {% if app.db_like.all.count >= 0 and app.db_like.all.count <= 999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"   alt="Unlike" title="Unlike" class="btnLike icon-heart"><span class="btn-expandable">{{app.db_like.all.count|get_digit:""}} </span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000 and app.db_like.all.count <= 9999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"  alt="Unlike" title="Unlike" class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}}{{app.db_like.all.count|get_digit:"2"}} K</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000 and app.db_like.all.count <= 99999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"      alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}}.{{app.db_like.all.count|get_digit:"3"}} K</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 100000 and app.db_like.all.count <= 999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"      alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}}{{app.db_like.all.count|get_digit:"4"}} K</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000000 and app.db_like.all.count <= 9999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}}{{app.db_like.all.count|get_digit:"5"}} M</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000000 and app.db_like.all.count <= 99999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"      alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}}.{{app.db_like.all.count|get_digit:"6"}} M</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 100000000 and app.db_like.all.count <= 999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}}{{app.db_like.all.count|get_digit:"7"}} M</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000000000 and app.db_like.all.count <= 9999999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"   alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}}{{app.db_like.all.count|get_digit:"8"}} B</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000000000 and app.db_like.all.count <= 99999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"    alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}}.{{app.db_like.all.count|get_digit:"9"}} B</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 100000000000 and app.db_like.all.count <= 999999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"    alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}}{{app.db_like.all.count|get_digit:"10"}} B</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 1000000000000 and app.db_like.all.count <= 9999999999999 %}
                                        
                                        <button type="submit"    value="{{app.db_id_App}}" name="post_id"     alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}}{{app.db_like.all.count|get_digit:"11"}} T</span></button>
                                    
                                        {% endif %}

                                        {% if app.db_like.all.count >= 10000000000000 and app.db_like.all.count <= 99999999999999 %}
                                        
                                        <button type="submit"   value="{{app.db_id_App}}" name="post_id"    alt="Unlike" title="Unlike"  class="btnLike icon-heart"><span class="price   btn-expandable">{{app.db_like.all.count|get_digit:"14"}}{{app.db_like.all.count|get_digit:"13"}}.{{app.db_like.all.count|get_digit:"12"}} T</span></button>
                                    
                                        {% endif %}
                                    
                                    {% endif %}
                                
                                </form>
                
                            </div>
                        </div>
                        
                        <h1><a href="{{BASE_DIR}}/fullView/{{app.db_id_App}}" class=""><b  style="border-color: rgb(250, 144, 57); font: .6em sans-serif;" class="btn">Install</b></a></h1>
                
                    </div>
                
            </figure>
        </div>
        {% endif %}
{% endfor %}
    </div>

</section>

<!-- categories section ends -->
    
      










        {% endif %}

        
<!-- /register.html  22 Aug 2022 10:04:03 GMT -->

</body>
</html>